
body {
    display: block;
    width: 200vh;
}
.select_city{
margin-left: 10px ;

}
.submit-city
{
color: rgb(255, 255, 255) ;      
margin-left: 30px ;    
width: 25% ;
height: 30px;
font-size: 20px;
background-color: blue ;
border-radius: 10px ; 
}
.drop_down
{
width:25%;
height: 30px;
border: none ;
border-radius: 10px;
}
.hourly-view
{   margin-left: 50px;
    display: block;
    width: 100%;
    overflow-x: hidden ;
    align-content: center ;
}
.hourly{
    color: black ;
    display: inline-block;
    width: 60px;
    margin-right:10px;
    margin-bottom: 10px;
    border: 1px solid black ;
    border-radius: 5px;
    
    padding:5px; 
    height:100px ;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.precipitation .iconify{
    font-size: 40px;
}
.weather-view
{   width:95%;
    display: block;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
}
body
{  
    color: #fff ;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.date-time{
    color: #f3451a  ;
}
.next-day
{
color: rgb(255, 255, 255) ;    
float: right;  
margin-right: 50% ;  
margin-left: 30px ;    
width: auto ;
height: 30px;
font-size: 20px;
background-color: blue ;
border-radius: 4px ; 
margin-top: 0.83em ;
margin-bottom: 0.83em;

}
.body{
background-color: rgba(0, 0, 0, 0.6) ;
width:40%;
padding: 10px ;
border-radius: 5px ; 

}
.date{
   float: right;  
   display: block;
   margin-left: 30%;
    color: azure ;
    font-size: 20px;
}
.select-city{
    display: block;
    width: 55%;  
}
.city-list
{
width: 100% ;
}

.nav-bar{
    margin-left: 50px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6) ;
    padding: 10px;
    border-radius: 10px;
    width:94%;
}
.weather-view{
    display: flex;
}
.hourly-nav{
    display: flex;   
}
.chart-container
{
   background-color: rgb(241, 238, 238 ) ;
   margin-left: 20px; 
   color: bisque;
   border-radius: 10px;
   padding: 6px;
   overflow: hidden;
}
.hidden{
    display: none ;
}
.view-btn{    
margin-left: 10px ;
}
.hourly-body
{
 display: block ;   

}
.currentHr h2{
    margin-top: 0%;
    margin-bottom: 10px;
}

.highlighted
{
    border : 2px solid black ;
    box-shadow: 5px 5px 5px 5px rgba(57, 98, 126, 0.3);
}
.submit-search{
    color: rgb(255, 255, 255) ;      
margin-left: 30px ;    
width: 25% ;
height: 30px;
font-size: 20px;
background-color: blue ;
border-radius: 10px ; 
};